/IPC/Practica 0/build/

/IPC/IPC_FXML_Practica2-main/build/
/IPC/IPC_FXML_Practica2-main/dist/
/IPC/IPC_FXML_Practica2-main/nbproject/private/
/IPC/Practica 2 (marcial)/practica_2/build/
/IPC/practica 3 (marcial)/Practica_3/nbproject/private/
/IPC/Practica 2 (marcial)/Practica_2.1/build/
/IPC/practica 3 (marcial)/JavaFX11_Sigup - copia/nbproject/private/
/IPC/practica 3 (marcial)/Practica_3/build/
/IPC/Practica 2 (marcial)/Practica_2.5/build/
/IPC/Practica 2 (marcial)/Practica_2.5/nbproject/private/
/IPC/Practica 4 (marcial)/JavaFX11_MenuDialogsToolbar/nbproject/private/
/IPC/Practica 4 (marcial)/Practica_4/nbproject/private/
/IPC/Practica 4 (marcial)/DInternacionalizacion/nbproject/private/
/IPC/Practica 4 (marcial)/DInternacionalizacion/build/
/IPC/Practica 4 (marcial)/Practica_4/build/
