#AnchorPane{
    -fx-background-color: #F4F1DE;
}

.button{
  -fx-background-color: #3D405B;
  -fx-background-radius: 999px;
  -fx-text-fill: #F2CC8F;
  -fx-font: 12pt "Segoe UI";
  -fx-line-height: 24px;
  -fx-padding: 8px 10px;

}
